@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
  width: 300px;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background: url(../../../public/main.jpg) center/cover;
}
.logo-nav {
  height: 45px;
  width: 45px;
}
h3 {
  margin-left: 10px;
  color: #fff;
  font-size: 22px;
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 3px;
}
